@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
}

#menu {
    background: darkred;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/*.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
  }
.navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
*/
#menu .logo {
    display: flex;
    align-items: center;
    color: white;
    padding: 30px 0 0 30px;

}

.white {
    color: white;
}


a:hover {
    color: rgb(158, 0, 0);
}

menu.items {
    margin-top: 40px;
    width: 30px;
    height: 30px;
}

#menu.items li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li:hover {
    background: white;
    cursor: pointer;
}

#menu .items li :nth-child(1) {
    border-left: 4px solid white;
}

#menu .items li i {
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li a {
    text-decoration: none;
    color: #253047;
    font-weight: 300px;
    transition: 0.3s ease;
    height: 300px;
}

#interface {
    width: 100%;
    margin-left: 300px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 80px 30px;
    /* border-bottom: 5px solid darkblue; */

}

/*#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    width: 100%;
}
#interface .navigation .search i{
    margin-right: 14px;
    width: 100%;
}
#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}
/*#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}*/
/*#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}
#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}*/
.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn {
    display: none;
    color: #253047;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.i-name {
    color: #253047;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background: white;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    background: darkred;
    margin-right: 15px;
}

.values .val-box:nth-child(1) i {
    background-color: darkblue
}

.values .val-box:nth-child(2) i {
    background-color: darkblue;
}

.values .val-box:nth-child(3) i {
    background-color: darkblue
}

.values .val-box:nth-child(4) i {
    background-color: darkblue;
}

.values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span {
    font-size: 15px;
    color: darkblue;
}

.board {
    width: 77%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: white;
    border-radius: 8px;
}

.board h5 {
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
}

.board p {
    font-weight: 400;
    font-size: 13px;
    color: #253047;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px saddlebrown;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: white;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 7px;
}

.active p {
    background: lightcyan;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: black;
}

.edit a {
    text-decoration: none;
    font-size: 14px;
    color: peachpuff;
    font-weight: 600;
}